* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #BFD7E4;
}

body, input, textarea {
  font-family: 'Poppins', sans-serif;
}

.page {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  margin: auto;  
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1440px;
  height: 465px;
  
  background: #293241;
  
  margin: auto;
}

header h1 {
  /* border: 2px solid white; */
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  
  color: #FFFFFF;

  margin-top: 110px;
}

header p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 24px;

  color: #FFFFFF;
}

header img {
  /* border: 2px solid white; */
  margin-bottom: 30px;
}

.header-title {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 750px;
  height: 133px;

  background: #F67669;
  border-radius: 20px 20px 0px 0px;
}

.header-title h2 {
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 24px;
  
  color: #FFFFFF;
}
 
form {
  width: 750px;
  height: 1075px;

  background: #FFFFFF;
  border-radius: 0px 0px 20px 20px;
}

fieldset {
  border: 0;
}

.fieldset-wrapper {
  width: 620px;
  margin: auto;
}

.fieldset-wrapper legend {
  /* border: 2px solid red; */
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;

  text-align: center;

  color: #253B51;

  border-bottom: 1px solid #E6E6F0;

  margin-bottom: 30px;
}

.fieldset-wrapper label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #4E4958;

  margin-bottom: 8px;
}

.line-col-2 {
  display: flex;
  gap: 20px;

  margin-top: 30px;
}

.line-col-2 > div:nth-child(1) {
  width: 50%;
}

.line-col-2 > div:nth-child(2) {
  width: 50%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-wrapper label {
  font-size: 14px;
  color: #4E4958;
  margin-bottom: 8px;
}

.input-wrapper input {
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;

  height: 55px;
  font-size: 16px;
  padding-inline: 10px;
}

select {
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;

  width: 50%;
  height: 55px;
}

textarea {
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
  height: 165px;
  padding: 10px;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper label {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 35px;
}

.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper label::before {
  display: block;
  content: '';
  width: 24px;
  height: 24px;

  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='24' height='24' rx='8' fill='%23FAFAFC' stroke='%23E6E6F0'/%3E%3Cpath d='M10 17.17L5.83 13L4.41 14.41L10 20L22 8L20.59 6.59L10 17.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
  border: 0;
}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid black;
}